<div class="bg-slate-100">
    <h1 class="text-lg font-bold">About Us</h1>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, a, sequi ipsum porro nisi
        magnam quis odit, pariatur voluptate magni id tempore ab dolores quidem. Quasi architecto ut distinctio beatae.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam omnis, rerum amet ipsum asperiores architecto nemo reprehenderit possimus quis numquam ullam impedit 
        voluptatibus aliquid commodi illo odit. Voluptas, animi tempora.
    </p>
    <p class="text-sm">
        Numero de clientes: <app-counter [duration]="duration()" [message]="msg()" />
    </p>
</div>